EASTING,NORTHING,POINT_X,POINT_Y,TYPE,PLOTID,LOGGER,SERIAL,DATE_START,DATE_END,HEADER,DATA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,grass,li01,VPF730,VPF730,2006-01-01,2099-12-31,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,grass,li01,VPF710,VPF710,2006-01-01,2099-12-31,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
