EASTING,NORTHING,POINT_X,POINT_Y,TYPE,PLOTID,LOGGER,SERIAL,HEADER,cf_precip_pu1,cf_precip_pu2,cf_fog_pu2,cf_kd_wxt,cf_ku_wxt,cf_ld_wxt,cf_lu_wxt,cf_kd_rad,cf_par_rad,SERIAL_VAISALA,SERIAL_CNR4,SERIAL_ARG,SERIAL_PYR01,SERIAL_PYR02,SERIAL_PAR01,SERIAL_PAR02
NaN,Nan,NaN,NaN,maize,mai0,000wxt,80091030032,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100327,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,maize,mai0,000pu1,80081025281,5,0.201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104039,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,maize,mai2,000rug,51021020201,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,maize,mai3,000rug,51021020199,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,maize,mai4,000rug,51021020176,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,xxx,xxxx,000rug,51021020189,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,coffee plantation,cof1,000rug,51021020159,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,coffee plantation,cof2,000rug,51021020158,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,coffee plantation,cof3,000wxt,80091030030,5,NaN,NaN,NaN,18.9,15.02,10.53,8.64,NaN,NaN,F3930007,100326,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,coffee plantation,cof3,000pu1,80081025283,5,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104030,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,coffee plantation,cof3,000rug,51021020164,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,coffee plantation,cof3,001rug,51021020153,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,coffee plantation,cof4,000rug,51021020157,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,coffee plantation,cof5,000rug,51021020194,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,forest Erica,fer1,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,forest Erica,fer2,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Erica,fer3,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,forest Erica,fer4,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,forest Erica,fer5,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest lower montane,flm1,000rug,51021020150,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,forest lower montane,flm2,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest lower montane,flm3,000rug,51021020182,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest lower montane,flm4,000rug,51021020195,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest lower montane,flm5,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Ocotea,foc1,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Ocotea,foc2,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Ocotea,foc3,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Ocotea,foc4,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Ocotea,foc5,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Ocotea d,fod1,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Ocotea d,fod2,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Ocotea d,fod3,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,forest Ocotea d,fod4,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,forest Ocotea d,fod5,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,forest Podocarpus d,fpd1,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Podocarpus d,fpd2,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Podocarpus d,fpd3,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Podocarpus d,fpd4,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,forest Podocarpus d,fpd5,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,forest Podocarpus,fpo1,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Podocarpus,fpo2,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Podocarpus,fpo3,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Podocarpus,fpo4,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,forest Podocarpus,fpo5,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,grasland,gra0,000rug,999999999999,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,grasland,nkw1,000wxt,80091030031,5,NaN,NaN,NaN,16,17.59,9.14,9.73,NaN,NaN,F4250012,100331,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,grasland,nkw1,000pu1,80081025285,5,0.201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104041,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,grasland,gra1,000rug,51021020181,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,grasland,gra2,000rug,51021020185,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,grasland,gra3,000rug,51021020206,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,grasland,gra4,000rug,51021020163,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,grasland,gra5,000rug,51021020167,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,helichrysum,hel1,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,helichrysum,hel2,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,helichrysum,hel3,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,helichrysum,hel4,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,helichrysum,hel5,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,homegarden,hom1,000rug,51021020193,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,homegarden,hom2,000rug,51021020232,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,homegarden,hom3,000rug,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,homegarden,hom4,000pu1,80081025290,5,0.197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104033,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,homegarden,hom4,000rug,51021020149,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,maize,mai1,000rug,51021020184,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,savanna,sav1,000rug,51021020216,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,savanna,sav2,000rug,51021020221,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,savanna,sav3,000rug,51021020192,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,savanna,sav0,000wxt,80091030033,5,NaN,NaN,NaN,19.26,16.67,9.76,7.81,NaN,NaN,F3940004,100328,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,savanna,sav0,000pu1,80081025282,5,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104031,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,savanna,sav4,000rug,51021020160,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,savanna,sav5,000rug,51021020211,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,helichrysum,hel2,xxx,9999999999,5,NaN,NaN,NaN,16,17.59,9.14,9.73,NaN,NaN,F4250012,100331,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,maize,mai0,000wxt,80041130072,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100327,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,maize,mai4,000rug,51021020203,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,maize,mai5,000rug,51021020213,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,coffee plantation,cof1,000rug,51021020218,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,coffee plantation,cof3,000wxt,80031130064,5,NaN,NaN,NaN,18.9,15.02,10.53,8.64,NaN,NaN,F3930007,100326,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest lower montane,flm4,000rug,51021020208,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,grasland,nkw1,000wxt,80031130065,5,NaN,NaN,NaN,16,17.59,9.14,9.73,NaN,NaN,F4250012,100331,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,homegarden,hom3,000rug,51021020165,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,homegarden,hom5,000rug,51021020200,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,savanna,sav1,000rug,51021020162,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,savanna,sav3,000rug,51021020196,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,savanna,sav0,000wxt,80031130066,5,NaN,NaN,NaN,19.26,16.67,9.76,7.81,NaN,NaN,F3940004,100328,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,grasland,gra1,000pu1,80081025284,5,0.201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104041,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Ocotea,foc3,000rug,51021020231,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Ocotea,foc4,000rug,51021020219,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Ocotea d,fod2,000rug,51021020228,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest lower montane,flm3,000rug,51071120472,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,coffee plantation,cof3,000rad,80091025299,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,NaN,NaN,NaN
NaN,Nan,NaN,NaN,coffee plantation,cof3,001rad,80091025309,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2
NaN,Nan,NaN,NaN,coffee plantation,cof3,002rad,80091025304,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
NaN,Nan,NaN,NaN,coffee plantation,cof3,003rad,80091025303,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,5
NaN,Nan,NaN,NaN,coffee plantation,cof3,004rad,80091025301,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
