EASTING,NORTHING,POINT_X,POINT_Y,TYPE,PLOTID,LOGGER,SERIAL,DATE_START,DATE_END,HEADER,DATA,pu1_P_RT_NRT,cf_precip_pu2,cf_fog_pu2,wxt_SWDR_300,wxt_SWUR_300,wxt_LWDR_300,wxt_LWUR_300,cf_kd_rad,cf_par_rad,SERIAL_VAISALA,SERIAL_CNR4,SERIAL_ARG,SERIAL_PYR01,SERIAL_PYR02,SERIAL_PAR01,SERIAL_PAR02
NaN,Nan,NaN,NaN,coffee plantation,cof1,000rug,51021020159,2011-02-18,2011-02-22,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,coffee plantation,cof1,000rug,51021020218,2011-06-21,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,coffee plantation,cof2,000rug,51021020158,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,coffee plantation,cof3,000pu1,80081025283,2011-03-27,2099-12-31,5,6,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104030,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,coffee plantation,cof3,000rad,80091025299,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,NaN,NaN,NaN
NaN,Nan,NaN,NaN,coffee plantation,cof3,000rug,51021020164,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,coffee plantation,cof3,000wxt,80091030030,2011-04-05,2011-08-01,5,8,NaN,NaN,NaN,18.9,15.02,10.53,8.64,NaN,NaN,F3930007,100326,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,coffee plantation,cof3,000wxt,80031130064,2011-09-13,2099-12-31,5,8,NaN,NaN,NaN,18.9,15.02,10.53,8.64,NaN,NaN,F3930007,100326,NaN,NaN,NaN,NaN,NaN 
NaN,Nan,NaN,NaN,coffee plantation,cof3,001rad,80091025309,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2
NaN,Nan,NaN,NaN,coffee plantation,cof3,001rug,51021020153,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,coffee plantation,cof3,002rad,80091025304,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN
NaN,Nan,NaN,NaN,coffee plantation,cof3,003rad,80091025303,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,5
NaN,Nan,NaN,NaN,coffee plantation,cof3,004rad,80091025301,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN
NaN,Nan,NaN,NaN,coffee plantation,cof4,000rug,51021020157,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,coffee plantation,cof5,000rug,51021020194,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,forest Erica,fer1,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,forest Erica,fer2,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Erica,fer3,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,forest Erica,fer4,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,forest Erica,fer5,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest lower montane,flm1,000rug,51021020150,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,forest lower montane,flm2,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest lower montane,flm3,000rug,51071120472,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest lower montane,flm3,000rug,51021020195,2011-02-24,2011-03-20,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest lower montane,flm4,000rug,51021020208,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest lower montane,flm5,000rug,51021020195,2011-03-21,2011-07-10,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Ocotea,foc1,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Ocotea,foc2,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Ocotea,foc3,000rug,51021020231,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Ocotea,foc4,000rug,51021020219,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Ocotea,foc5,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Ocotea d,fod1,000rug,51021020228,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Ocotea d,fod2,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Ocotea d,fod3,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,forest Ocotea d,fod4,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,forest Ocotea d,fod5,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,forest Podocarpus d,fpd1,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Podocarpus d,fpd2,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Podocarpus d,fpd3,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Podocarpus d,fpd4,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,forest Podocarpus d,fpd5,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,forest Podocarpus,fpo1,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Podocarpus,fpo2,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Podocarpus,fpo3,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest Podocarpus,fpo4,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,forest Podocarpus,fpo5,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,grasland,gra0,000rug,51021020181,2010-12-20,2010-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,grasland,gra1,000pu1,80081025284,1999-01-01,2099-12-31,5,6,0.201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104041,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,grasland,gra1,000rug,51021020181,2010-12-31,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,grasland,gra2,000rug,51021020185,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,grasland,gra3,000rug,51021020206,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,grasland,gra4,000rug,51021020163,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,forest lower montane,gra4,000rug,51021020182,2010-12-14,2011-02-25,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,grasland,gra5,000rug,51021020167,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,helichrysum,hel1,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,helichrysum,hel2,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,helichrysum,hel3,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,helichrysum,hel4,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,helichrysum,hel5,NaN,NaN,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,homegarden,hom1,000rug,51021020193,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,homegarden,hom2,000rug,51021020232,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,homegarden,hom3,000rug,51021020165,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,homegarden,hom4,000pu1,80081025290,1999-01-01,2099-12-31,5,6,0.197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104033,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,homegarden,hom4,000rug,51021020149,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,homegarden,hom5,000rug,51021020200,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,maize,mai0,000pu1,80081025281,1999-01-01,2099-12-31,5,6,0.201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104039,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,maize,mai0,000wxt,80041130072,1999-01-01,2099-12-31,5,8,NaN,NaN,NaN,16,17.59,9.14,9.73,NaN,NaN,F4250012,100331,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,maize,mai0,000wxt,80091030032,2011-04-15,2011-09-16,5,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100327,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,maize,mai1,000rug,51021020184,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,maize,mai2,000rug,51021020201,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,maize,mai3,000rug,51021020199,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,maize,mai4,000rug,51021020203,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,maize,mai4,000rug,51021020176,2011-03-07,2011-04-14,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,maize,mai5,000rug,51021020213,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,grasland,nkw1,000pu1,80081025285,1999-01-01,2099-12-31,5,6,0.201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104041,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,grasland,nkw1,000pu1,80081025283,2011-03-20,2011-03-28,5,6,0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104030,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,grasland,nkw1,000rug,51021020196,2011-02-26,2011-04-11,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,grasland,nkw1,000wxt,80031130065,1999-01-01,2099-12-31,5,8,NaN,NaN,NaN,16,17.59,9.14,9.73,NaN,NaN,F4250012,100331,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,grasland,nkw1,000wxt,80091030031,2011-02-14,2011-06-08,5,8,NaN,NaN,NaN,16,17.59,9.14,9.73,NaN,NaN,F4250012,100331,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,savanna,sav0,000pu1,80081025288,1999-01-01,2099-12-31,5,6,0.198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104032,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,savanna,sav0,000wxt,80031130066,1999-01-01,2099-12-31,5,8,NaN,NaN,NaN,19.26,16.67,9.76,7.81,NaN,NaN,F3940004,100328,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,savanna,sav0,000wxt,80091030033,2011-04-07,2011-08-25,5,8,NaN,NaN,NaN,19.26,16.67,9.76,7.81,NaN,NaN,F3940004,100328,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,savanna,sav1,000rug,51021020162,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,savanna,sav1,000rug,51021020216,2011-06-27,2011-06-28,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,savanna,sav2,000rug,51021020188,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,savanna,sav2,000rug,51021020221,2011-02-16,2011-02-23,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,savanna,sav2,000rug,51021020183,2011-10-13,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,savanna,sav3,000rug,51021020192,2010-12-14,2011-06-25,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,savanna,sav3,000rug,51021020196,2011-07-08,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,savanna,sav4,000rug,51021020160,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,savanna,sav4,000rug,51021020176,2010-12-20,2011-02-19,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,savanna,sav5,000rug,51021020211,1999-01-01,2099-12-31,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Nan,NaN,NaN,savanna,sav5,000rug,51021020218,2010-12-15,2011-02-19,5,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN