[variables]
t_rug = temperature
rh_rug = humidity 
precip_pu1 = precipitation
p_precip_pu1 = precipitation
c_precip_pu1 = precipitation
precip_pu2 = precipitation
p_precip_pu2 = precipitation
c_precip_pu2 = precipitation
fog_pu2 = fog
p_fog_pu2 = fog
c_fog_pu2 = fog
t_wxt = temperature
st_wxt = temperature
rh_wxt = humidity
precip_wxt = precipitation
ws_wxt = wind_speed
wd_wxt = wind_direction
p_wxt = pressure
kd_w_wxt = radiation
u_kd_wxt = none
c_kd_wxt = none
ku_w_wxt = radiation
u_ku_wxt = none
c_ku_wxt = none
ld_w_wxt = radiation
u_ld_wxt = none
c_ld_wxt = none
lu_w_wxt = radiation
u_lu_wxt = none
c_lu_wxt = none
t_cnr_wxt = sensor_temperature
kd_w_rad = radiation
u_kd_rad = none
c_kd_rad = none
par_m_rad = radiation 
u_par_rad = none
c_par_rad = none
t_rad = temperature
rh_rad = humidity
chdateEAT = none
year = none
month = none
day = none
hour = none
minute = none
quality = none