[logger]
initial_logger_file = noname.bin
logger_time_zone = mez

[repository]
toplevel_path = /media/dogbert/dev/be/julendat/
toplevel_incoming_path = /media/dogbert/dev/be/julendat/incoming/
toplevel_check_path = /media/dogbert/julendat/dev/be/incoming/check/
toplevel_checked_path = /media/dogbert/julendat/dev/be/incoming/checked/
toplevel_processing_plots_path = /media/dogbert/dev/be/julendat/processing/plots/
toplevel_processing_logger_path = /media/dogbert/dev/be/julendat/processing/logger/
toplevel_vis_path = /media/dogbert/dev/be/julendat/processing/vis/
toplevel_temp_path = /media/dogbert/dev/be/julendat/temp/


[inventory]
station_inventory = be_config_station_inventory.cnf
station_master = be_station_master.csv

[project]
project_id = be
level_0005_timezone = mez 
station_name = heg

[general]
level0050_standards = be_config_level0050_standards.cnf
r_filepath = /home/dogbert/workspace/julendat/src/julendat/rmodules

