"dateEAT", "plotID", "logger"
"t_rug", "rh_rug"
"precip_pu1", "p_precip_pu1", "c_precip_pu1"
"precip_pu2", "p_precip_pu2","c_precip_pu2"
"fog_pu2", "p_fog_pu2", "c_fog_pu2"
"t_wxt", "st_wxt", "rh_wxt","precip_wxt", "ws_wxt", "wd_wxt", "p_wxt"
"kd_w_wxt", "u_kd_wxt", "c_kd_wxt"
"ku_w_wxt", "u_ku_wxt", "c_ku_wxt"
"ld_w_wxt", "u_ld_wxt", "c_ld_wxt"
"lu_w_wxt", "u_lu_wxt", "c_lu_wxt", "t_cnr_wxt"
"kd_w_rad", "u_kd_rad", "c_kd_rad","par_m_rad", "u_par_rad", "c_par_rad", "t_rad", "rh_rad"
"chdateEAT", "year", "month", "day", "hour", "minute", "quality"